## Configuracion de Spring
spring:
  application:
    name: ms-books-catalogue
  datasource:
    url: jdbc:h2:mem:testdb;Mode=MySQL
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

## Configuracion de Instancia 
server:
  port: 8088

## Configuracion del cliente de Eureka
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
    service-url:
      default-zone: ${EUREKA_HOST:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
    hostname:  ms-books-catalogue
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

debug: true
