server:
  port: ${PORT:8732}

spring:
  application:
    name: ms-books-payments
  datasource:
    url: jdbc:h2:mem:paymentsdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    registry-fetch-interval-seconds: 5
    service-url:
      default-zone: ${EUREKA_HOST:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
    hostname: ms-books-payments
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

catalogue:
  base-url: ${CATALOGUE_BASE_URL:lb://ms-books-catalogue}

management:
  endpoints:
    web:
      exposure:
        include: health,info
