server:
  port: ${PORT:8732}

spring:
  application:
    name: ms-books-payments
  datasource:
    url: jdbc:h2:mem:paymentsdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

catalogue:
  base-url: ${CATALOGUE_BASE_URL:lb://ms-books-catalogue}

management:
  endpoints:
    web:
      exposure:
        include: health,info
